data/stock_prices/*.csv
train_models.json
saved_models
saved_predictions
credentials

evolution
evolution_tensorboard_logs
evolution_model_graphs
last_run.json

__pycache__
*.pyc
.ipynb_checkpoints

env

index_model_scoring.json
index_model_scoring_linear.json
/.vscode
